header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 92px 50px 96px;
}

footer {
    margin-top: 180px;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

address {
    max-width: 242px;
    margin-left: 184px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-self: start;
    align-items: flex-start;
    align-self: start;
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
    letter-spacing: 0;
}

.header__links-list {
    margin-top: 40px;
    display: flex;
    gap: 34px;
    list-style: circle;
}

.link-active {
    list-style: none;
}

.header__links-list-item {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.header__link-logo {
    width: 148px;
    height: 105px;
}

.logo {
    width: 148px;
    height: 105px;
}

.header__address {
    margin-top: 5px;
    max-width: 240px;
    justify-self: end;
}

.cover {
    min-height: 757px;
    width: 1100px;
    padding: 165px 45px 50px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cover.jpg');
    background-size: cover;
}

.cover__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    color: white;
    letter-spacing: 30px;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aligned-text_left,
.aligned-text_center,
.aligned-text_right {
    letter-spacing: 30px;
    display: block;
    margin: 0;
    padding: 0;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-right: -25px;
    margin-top: 18px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -25px;
    margin-top: 18px;
}

.cover__description {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 106px;
    z-index: 1;
}

.cover__description-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin: 0;
    flex-shrink: 0;
    line-height: 1.2;
    word-spacing: 18.5px;
}

.bet-button {
    width: 260px;
    height: 51px;
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 32px;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bet-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.lots {
    width: 1100px;
    margin: 180px 0 120px;
    padding: 0 24px;
}

.lots__heading {
    padding: 0 0 0 40px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 27px 0 30px;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.lots__card-list-item {
    min-height: 596px;
    width: 334px;
}

.card-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 48px 40px;
    box-sizing: border-box;
}

.card_type_film {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-01.jpg');
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-02.jpg');
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-03.jpg');
    background-size: cover;
    background-position: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card__title,
.card__text {
    position: relative;
    z-index: 2;
    color: white;
}
.card__title {
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 0;
}

.lots__look-more-link {
    margin: 30px 40px 0;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.about {
    width: 1052px;
    margin: 120px 24px 180px;
    display: grid;
    grid-template-columns: 334px auto;
}

.about__logo {
    width: 240px;
    height: 240px;
    margin-top: 35px;
    justify-self: center;
    align-self: start;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about__logo-image {
    max-width: 145px;
    max-height: 115px;
    object-fit: contain;
}

.about__content {
    width: 690px;
    justify-self: right;
    margin-right: 2px;
    align-self: end;
}

.about__title {
    margin: 136px 0 100px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
}

.footer__address {
    justify-self: left;
    margin-left: 50px;
}

.footer__menu {
    width: 100%;
    height: 100%;
    align-self: start;
    justify-self: center;
    margin: 1px;
    padding: 0;
}

.footer__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.footer__social-list {
    width: 240px;
    height: 48px;
    align-self: start;
    justify-self: right;
    margin-right: 50px;
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.footer__social-link {
    width: 48px;
    height: 48px;
    display: flex;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}

.header__link-active {
  text-decoration: none;
}

.footer__link-active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
